In [1]:
import requests
import mysql.connector
from mysql.connector import Error
import schedule
import time

In [2]:
# Airtable configuration
AIRTABLE_BASE_ID = 'appGnf8ldkBqyxsdX'
AIRTABLE_API_KEY = 'patb92KmkkX08CuWq.3e77882b6467bc2705d5f93a6468e7d74f8276494194126fe99328891d59f46b'
AIRTABLE_URL = f'https://api.airtable.com/v0/{AIRTABLE_BASE_ID}/'

# MySQL configuration
MYSQL_HOST = 'ugandarugbyunion.c5s2s2ki82x4.eu-north-1.rds.amazonaws.com'
MYSQL_DATABASE = 'ugandarugbyunion'
MYSQL_USER = 'admin'
MYSQL_PASSWORD = '2210kpeteR$$'

In [3]:
# Function to fetch records from Airtable
table_name = "players"
def fetch_airtable_records(table_name):
    headers = {
        'Authorization': f'Bearer {AIRTABLE_API_KEY}',
        'Content-Type': 'application/json'
    }
    response = requests.get(f'{AIRTABLE_URL}{table_name}', headers=headers)
    
    if response.status_code == 200:
        return response.json().get('records', [])
    else:
        print(f"Failed to fetch records from Airtable: {response.status_code}, Response: {response.text}")
        return []
records = fetch_airtable_records(table_name)
print(f"✅ {table_name}: {len(records)} records fetched.")

✅ players: 100 records fetched.

In [4]:
# Upsert function for inserting or updating MySQL records
def upsert_record(cursor, table, record):
    fields = record.get('fields', {})  # Fall back to empty dict if fields are not found

    if table == 'players':
        sql = """
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE 
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
        """

        # Get values from fields, replacing None with 0 for Club if necessary
        club_field = fields.get('Club')
        if club_field is None:
            club_field = 0  # Default to 0 if Club is missing

        values = (
            club_field,
            fields.get('PlayerName'),
            fields.get('DOB'),  # Ensure date is in the correct format
            fields.get('Status'), 
            fields.get('PlayerImage')
        )

        print(f"Executing SQL for players: {sql} with values: {values}")  # Logging
        cursor.execute(sql, values)
    else:
        print(f"⚠️ Table '{table}' not handled.")
        return

    try:
        cursor.execute(sql, values)
    except Error as err:
        print(f"Error executing SQL for table {table}: {err}")

In [5]:
# Main function to synchronize Airtable with MySQL
def sync_airtable_to_mysql():
    try:
        connection = mysql.connector.connect(
            host=MYSQL_HOST,
            database=MYSQL_DATABASE,
            user=MYSQL_USER,
            password=MYSQL_PASSWORD
        )
        
        if connection.is_connected():
            cursor = connection.cursor()

            # Fetch current records from MySQL for the players table
            cursor.execute("SELECT Club, PlayerName FROM players;")
            existing_records = { (row[0], row[1]) for row in cursor.fetchall() }  # Set of tuples

            # Fetch records from Airtable specifically for players
            records = fetch_airtable_records('players')  # Specify table name
            
            # Prepare to track identifiers fetched from Airtable
            fetched_identifiers = set()

            for record in records:
                identifier = (record['fields'].get('Club'), record['fields'].get('PlayerName'))  # Create tuple for identifiers
                upsert_record(cursor, 'players', record)

                # Track fetched identifiers (ensure they are tuples)
                fetched_identifiers.add(identifier)

            # Deletions: Identify records in MySQL not found in Airtable
            for identifier in existing_records:
                if identifier not in fetched_identifiers:
                    # Create delete SQL statement
                    delete_sql = "DELETE FROM players WHERE Club = %s AND PlayerName = %s;"
                    cursor.execute(delete_sql, identifier)

            connection.commit()  # Commit all changes
            print("Data synchronized successfully, including deletions.")

    except Error as e:
        print(f"Error while connecting to MySQL: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

# Schedule the sync function to run every minute
schedule.every(1).minutes.do(sync_airtable_to_mysql)

# Keep the script running to maintain the scheduling
while True:
    schedule.run_pending()
    time.sleep(1)  # Sleep to prevent high CPU usage

Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Adnan Mutebi', '1992-01-04', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Pirates ', 'Raphael Anyama', '1996-06-08', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Mubiru Keith', '2002-08-08', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Mutungye Larry Phillip', '2004-02-18', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Michael Otto', '1993-11-30', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Heathens', 'Ochan  Trevor', '1998-12-12', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Kironde Timothy', None, 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Warriors', 'Moses Mutumba', '1989-08-13', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Victoria Sharks', 'Samma Emmanuel', '1996-11-12', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Bibangamba Robert', '1982-12-22', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Victoria Sharks', 'Otim Godfrey Peter', '1999-11-11', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Heathens', 'Aziz  Khan', '1997-02-21', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Wabyona Brendon', '2005-01-10', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Elgon Wolves', 'Kajimba  Hamissi', '2004-09-09', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Elgon Wolves', 'Kembai Brian', '2003-02-10', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Ijongat James', '1993-06-06', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Walukuba Barbarians', 'Opiyo  Tom Nicholas', '2000-05-10', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Karim  Arinaitwe', '1999-07-23', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Galiwango John', '2004-05-03', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Elgon Wolves', 'Makoba Stephen Chris', '2002-02-08', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Ssewagudde Enock', '2003-07-21', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Malik Joshua', '2003-01-11', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Warriors', 'Jonathan Aita', '1999-09-25', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Heathens', 'Sempija  Hamza', '2003-04-04', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Buffaloes', 'Koriang Clinton', '2005-10-29', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Elgon Wolves', 'Walusaka Constant', '2002-10-04', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Okore Edgar Terry', '2005-05-03', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Bagalana Azizi', '2002-01-10', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Ivan Otai', '1996-01-17', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Buffaloes', 'Muhumuza Kenedy', '1997-07-12', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Rhinos ', 'Mwunvaneza Joshua Treasure', '2002-10-10', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Rhinos ', 'Atuhaire Ronald', '1999-05-06', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Rhinos ', 'Arinda Wright', '1998-05-18', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Gizamba Calvin', '2003-07-20', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Walukuba Barbarians', 'Kalileku  Trevor', '2002-09-09', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Rajab Wacky', '2003-11-12', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Heathens', 'Opio  Ivan', '2000-12-25', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Paul Oyesigye', '2001-01-12', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Victoria Sharks', 'Kalihira  Arnold', '2001-08-18', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Victoria Sharks', 'Ochieng Blaise', '2000-09-08', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Odong  Cyrus', '2001-09-10', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Aleni Edmond', '2003-08-09', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Kenyi Silver', '1992-06-30', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Opira Elvis', '2003-08-11', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Ayera Ian', '2005-11-24', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Hippos', 'Kezaala Abrazak', '2007-02-01', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Pirates ', 'Brian Ochan', '1994-02-25', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Warriors', 'Samuel Oryem', '2004-03-04', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Heathens', 'Ejor Osteen', '2006-02-11', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Kobs ', 'Pius Ogena', '1994-10-30', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Walukuba Barbarians', 'Ssendagire  Ernest', '2003-07-17', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Mongers', 'Muhangi Raymond', '2002-01-07', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Buffaloes', 'Ndahura Humphrey', '2003-11-14', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),
            PlayerImage = VALUES(PlayerImage);
         with values: ('Heathens', 'Okello  Malcom', '2002-11-14', 'Active', '0')
Executing SQL for players:
        INSERT INTO players (Club, PlayerName, DOB, Status, PlayerImage)
        VALUES (%s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            DOB = VALUES(DOB),
            Status = VALUES(Status),

UnboundLocalError: cannot access local variable 'connection' where it is not associated with a value