In [8]:
import requests
import mysql.connector
from mysql.connector import Error
import schedule
import time

In [9]:
# Airtable configuration
AIRTABLE_BASE_ID = 'appGnf8ldkBqyxsdX'
AIRTABLE_API_KEY = 'patb92KmkkX08CuWq.3e77882b6467bc2705d5f93a6468e7d74f8276494194126fe99328891d59f46b'
AIRTABLE_URL = f'https://api.airtable.com/v0/{AIRTABLE_BASE_ID}/'

# MySQL configuration
MYSQL_HOST = 'ugandarugbyunion.c5s2s2ki82x4.eu-north-1.rds.amazonaws.com'
MYSQL_DATABASE = 'ugandarugbyunion'
MYSQL_USER = 'admin'
MYSQL_PASSWORD = '2210kpeteR$$'

In [10]:
# Function to fetch records from Airtable
table_name = "teams"
def fetch_airtable_records(table_name):
    headers = {
        'Authorization': f'Bearer {AIRTABLE_API_KEY}',
        'Content-Type': 'application/json'
    }
    response = requests.get(f'{AIRTABLE_URL}{table_name}', headers=headers)
    
    if response.status_code == 200:
        return response.json().get('records', [])
    else:
        print(f"Failed to fetch records from Airtable: {response.status_code}, Response: {response.text}")
        return []
records = fetch_airtable_records(table_name)
print(f"✅ {table_name}: {len(records)} records fetched.")

✅ teams: 92 records fetched.

In [11]:
refs = fetch_airtable_records('referees')  # Specify the table name
print(refs)

[{'id': 'rec3vwG6Jcan8XEMC', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Ronald Wutimber', 'Status': 'Active\n'}}, {'id': 'rec5Na39g4MocpCKB', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Emmanuel Sama', 'Status': 'Active\n'}}, {'id': 'rec5Pja7frX2q6x0X', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Thomas Obajja', 'Status': 'Active\n'}}, {'id': 'rec7Lpd6abka7VfAF', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': ' Brian Batakwire', 'Status': 'Active\n'}}, {'id': 'rec7jKn3plZ15qaoL', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Saudah Adiru', 'Status': 'Active\n'}}, {'id': 'recBXzvEvLbsTQd7E', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Umar Balikanda', 'Status': 'Active\n'}}, {'id': 'recDGN1Fo8YJeGmjl', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': ' Bashir Bakel', 'Status': 'Active\n'}}, {'id': 'recEGtFE3dwK8yOxu', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Gonzaga Mayanja', 'Status': 'Active\n'}}, {'id': 'recGan7pUTwhaCepC', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Ivan Arinaitwe', 'Status': 'Active\n'}}, {'id': 'recHOU9o84Z1K8X0A', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Jonathan Atuhaire', 'Status': 'Active\n'}}, {'id': 'recHcBXyoAcBq0FIZ', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': ' Emmanuel Olupot', 'Status': 'Active\n'}}, {'id': 'recIZZJLNrUjr8Qmc', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Mabo Bugosi', 'Status': 'Active\n'}}, {'id': 'recKuqrAH5g9Kclyx', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Bashir Kiggundu', 'Status': 'Active\n'}}, {'id': 'recLsUQZBcXVUtmn2', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Arthur Ngolobe', 'Status': 'Active\n'}}, {'id': 'recM6YG4kHnSo6C9j', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Charles Mungoma', 'Status': 'Active\n'}}, {'id': 'recNDt7umQkCCnNLq', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Lucky Nirere', 'Status': 'Active\n'}}, {'id': 'recOPD34CnOD6zkTM', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Reuben Opeesa', 'Status': 'Active\n'}}, {'id': 'recRFaXGh0WA3IQih', 'createdTime': '2025-04-12T19:13:32.000Z', 'fields': {'RefName': 'Adrian', 'Status': 'Inactive'}}, {'id': 'recVkFElT2AaOMdSw', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Angella Nakato', 'Status': 'Active\n'}}, {'id': 'recXFs9F3n9uSIqYl', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Stephen Kalimba', 'Status': 'Active\n'}}, {'id': 'recXUAZjrc25573W0', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Fauzah Namayengo', 'Status': 'Active\n'}}, {'id': 'recXqTlTcZklKYHTC', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Judith Nakami', 'Status': 'Active\n'}}, {'id': 'recY8LkUyryohRGAs', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': ' Asha Nakityo', 'Status': 'Active\n'}}, {'id': 'recZcrGIEM6dINz6J', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': ' Fatuma Ramia', 'Status': 'Active\n'}}, {'id': 'recbrRKoQN6HqCXig', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Rosenburg Kanyunyuzi', 'Status': 'Active\n'}}, {'id': 'receZ90g6XJts8Y2j', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Emma Mamai', 'Status': 'Active\n'}}, {'id': 'recel8KNfVh3LMnn1', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Arthur Akampa', 'Status': 'Active\n'}}, {'id': 'recfPkFfeJEkCiRDQ', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Rachel Kakaire', 'Status': 'Active\n'}}, {'id': 'recgKQG7YToCb8x0q', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Maurice Ssemakula', 'Status': 'Active\n'}}, {'id': 'rechlGX3yMqUJJkhx', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Tony Lam', 'Status': 'Active\n'}}, {'id': 'recj705qRSEsvR0DR', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Norah Nabasirye', 'Status': 'Active\n'}}, {'id': 'reck2Nv6OWwcufZ7l', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Nicholas Odot       ', 'Status': 'Active\n'}}, {'id': 'reclTdwshiafP9xR0', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Maxwell Ebonga', 'Status': 'Active\n'}}, {'id': 'recm7AmKB3rD4VAYP', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Elijah Massa', 'Status': 'Active\n'}}, {'id': 'recmJd7e2amCiHFPT', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Barbra Agatha', 'Status': 'Active\n'}}, {'id': 'recmlVmGR3jXWp4v5', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Livingstone Ssengendo', 'Status': 'Active\n'}}, {'id': 'recpQfxQTxnjeC35X', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Raymond Kisekka', 'Status': 'Active\n'}}, {'id': 'recqkQ4SrVqcr5MHY', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Samuel Walijjo', 'Status': 'Active\n'}}, {'id': 'recr47kklagXzi2EL', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Sarah Neema', 'Status': 'Active\n'}}, {'id': 'recrXNbnL17zLS4wr', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Denis Anguyo', 'Status': 'Active\n'}}, {'id': 'rect18LzAhaDePbJp', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Shamira Uthman', 'Status': 'Active\n'}}, {'id': 'rectGVM16dlX1vOmD', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Judith Opio', 'Status': 'Active\n'}}, {'id': 'recucVdS7XpLd75dH', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': ' Edward Kabagambe', 'Status': 'Active\n'}}, {'id': 'recv2739NO9inFRM4', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Timothy Tumwesigye', 'Status': 'Active\n'}}, {'id': 'recvbuPE8769ryEQA', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Avitus Ngabirano', 'Status': 'Active\n'}}, {'id': 'recwppL0CmV9KlW2a', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Augustine Owor', 'Status': 'Active\n'}}, {'id': 'recx4RtixcI8Oxea7', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Halimah Linkambo', 'Status': 'Active\n'}}, {'id': 'recx55PYVNKuoTlvS', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'James Byaruhanga', 'Status': 'Active\n'}}, {'id': 'recxSurOv88mia7Yj', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Sharon Anena', 'Status': 'Active\n'}}, {'id': 'recyCpVhNRR9Qpaoi', 'createdTime': '2025-04-08T07:07:22.000Z', 'fields': {'RefName': 'Kenneth Ekachu', 'Status': 'Active\n'}}]

In [12]:
def upsert_record(cursor, table, record):
    fields = record.get('fields', {})

    if table == 'referees':
        sql = """
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE 
            Status = VALUES(Status);
        """

        values = (
            fields.get('RefName'), 
            fields.get('Status')
        )
        print(f"Executing SQL: {sql} with values: {values}")  # Logging

    else:
        print(f"⚠️ Table '{table}' not handled.")
        return

    try:
        cursor.execute(sql, values)
    except Error as err:
        print(f"Error executing SQL for table {table}: {err}")

In [13]:
def sync_airtable_to_mysql():
    try:
        connection = mysql.connector.connect(
            host=MYSQL_HOST,
            database=MYSQL_DATABASE,
            user=MYSQL_USER,
            password=MYSQL_PASSWORD
        )
        
        if connection.is_connected():
            cursor = connection.cursor()

            # Fetch current records from MySQL for comparison
            cursor.execute("SELECT RefName FROM referees;")
            existing_records = {row[0] for row in cursor.fetchall()}

            # Fetch records from Airtable
            records = fetch_airtable_records('referees')  # Specify the table name
            
            # Prepare to track records that were found in Airtable
            fetched_ref_names = set()

            for record in records:
                ref_name = record['fields'].get('RefName')
                status = record['fields'].get('Status')
                
                # Upsert record into MySQL
                upsert_record(cursor, 'referees', record)

                # Track fetched referee names
                fetched_ref_names.add(ref_name)

            # Deletions: Identify records in MySQL not found in Airtable
            for ref_name in existing_records:
                if ref_name not in fetched_ref_names:
                    # Delete from MySQL if it's no longer in Airtable
                    delete_sql = "DELETE FROM referees WHERE RefName = %s;"
                    cursor.execute(delete_sql, (ref_name,))

            connection.commit()  # Commit all changes
            print("Data synchronized successfully, including deletions.")

    except Error as e:
        print(f"Error while connecting to MySQL: {e}")
    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
# Schedule the sync function to run every minute (adjust as needed)
schedule.every(1).minutes.do(sync_airtable_to_mysql)

# Keep the script running to maintain the scheduling
while True:
    schedule.run_pending()
    time.sleep(1)  # Sleep to prevent high CPU usage

Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Ronald Wutimber', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Emmanuel Sama', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Thomas Obajja', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Brian Batakwire', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Saudah Adiru', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Umar Balikanda', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Bashir Bakel', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Gonzaga Mayanja', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Ivan Arinaitwe', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Jonathan Atuhaire', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Emmanuel Olupot', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Mabo Bugosi', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Bashir Kiggundu', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Arthur Ngolobe', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Charles Mungoma', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Lucky Nirere', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Reuben Opeesa', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Adrian', 'Inactive')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Angella Nakato', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Stephen Kalimba', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Fauzah Namayengo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Judith Nakami', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Asha Nakityo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Fatuma Ramia', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Rosenburg Kanyunyuzi', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Emma Mamai', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Arthur Akampa', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Rachel Kakaire', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Maurice Ssemakula', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Tony Lam', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Norah Nabasirye', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Nicholas Odot       ', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Maxwell Ebonga', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Elijah Massa', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Barbra Agatha', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Livingstone Ssengendo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Raymond Kisekka', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Samuel Walijjo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Sarah Neema', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Denis Anguyo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Shamira Uthman', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Judith Opio', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Edward Kabagambe', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Timothy Tumwesigye', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Avitus Ngabirano', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Augustine Owor', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Halimah Linkambo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('James Byaruhanga', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Sharon Anena', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Kenneth Ekachu', 'Active\n')
Data synchronized successfully, including deletions.
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Ronald Wutimber', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Emmanuel Sama', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Thomas Obajja', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Brian Batakwire', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Saudah Adiru', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Umar Balikanda', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Bashir Bakel', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Gonzaga Mayanja', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Ivan Arinaitwe', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Jonathan Atuhaire', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Emmanuel Olupot', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Mabo Bugosi', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Bashir Kiggundu', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Arthur Ngolobe', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Charles Mungoma', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Lucky Nirere', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Reuben Opeesa', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Adrian', 'Inactive')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Angella Nakato', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Stephen Kalimba', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Fauzah Namayengo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Judith Nakami', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Asha Nakityo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Fatuma Ramia', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Rosenburg Kanyunyuzi', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Emma Mamai', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Arthur Akampa', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Rachel Kakaire', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Maurice Ssemakula', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Tony Lam', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Norah Nabasirye', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Nicholas Odot       ', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Maxwell Ebonga', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Elijah Massa', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Barbra Agatha', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Livingstone Ssengendo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Raymond Kisekka', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Samuel Walijjo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Sarah Neema', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Denis Anguyo', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Shamira Uthman', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Judith Opio', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: (' Edward Kabagambe', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Timothy Tumwesigye', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);
         with values: ('Avitus Ngabirano', 'Active\n')
Executing SQL:
        INSERT INTO referees (RefName, Status)
        VALUES (%s, %s)
        ON DUPLICATE KEY UPDATE
            Status = VALUES(Status);

MySQLInterfaceError: Lost connection to MySQL server during query